<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Publications - Nicolas Aragon</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>
    <script src="./publications.js"></script>
</head>

<body ng-app="Arapp">
    <div class="content">
        <nav class="responsive-hide">
            <div class="items">
                <div class="item" onclick="toggleNavbar()" id="close-button">
                    <span class="material-icons">close</span>
                </div>
                <a href="./" class="item">Home</a>
                <a href="./publication.html" class="item">Publications</a>
                <a href="./resources.html" class="item">Resources</a>
            </div>
            <div class="blank-area" onclick="toggleNavbar()">

            </div>
        </nav>
        <main>
            <header>
                <div class="header-title">
                    <h2>
                        Publications
                    </h2>
                </div>
            </header>
            <div class="second-nav">
                <div class="material-icons" onclick="toggleNavbar()">
                    menu
                </div>
            </div>
            <section ng-controller="PublicationsController">
                <article ng-repeat="y in years">
                    <h2>
                        {{y.year}}
                    </h2>
                    <div ng-repeat="publication in publications" ng-if="publication.year == y.year">
                        <hr>
                        <h3>{{publication.title}}</h3>
                        <p>
                            <i>{{publication.authors}}</i>
                        </p>
                        <p>
                            {{publication.conference}}
                        </p>
                        <p>
                           <span ng-repeat="extra in publication.extras">
                                <a ng-href="extra.link" ng-if="extra.type == 'link'" target="_blank">{{extra.title}}</a>
                           </span> 
                        </p>
                    </div>
                </article>
            </section>
            <footer>
                <div id="bottom-nav">
                    <div>
                        <a href="https://github.com/nicolas-aragon" target="_blank">
                            <img src="./GitHub-Mark/PNG/GitHub-Mark-32px.png" alt="">
                        </a><br>
                        IRISA <br>
                        263, avenue du Général Leclerc <br>
                        35 042 RENNES cedex <br>
                        Email : nicolas.aragon@irisa.fr <br>
                        
                        ©Nicolas Aragon - All rights reserved
                    </div>
                </div>
            </footer>
        </main>
    </div>
</body>

</html>